@import url('https://fonts.googleapis.com/css?family=Archivo+Black');

html {
  height: 100%;
  width: 100vw;
  overflow: hidden;
}

body {
  font-family: 'Archivo Black', sans-serif;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #EFEF64;
  background: #B869FB;
  margin: 0;
}

h1 {
  padding: 32px 16px;
  font-size: 42px;
  line-height: 55px;
  letter-spacing: 3px;
  font-weight: 100;
  position: absolute;
  top: 0;
  left: 0;
  /* text-align: justify; */
  width: 88vw;
  margin: 0;
}

span.again {
  font-size: 28px;
  position: absolute;
  bottom: 32px;
  left: 16px;
  /* border-bottom: 3px solid #EFEF64; */
}

span.again:hover {
  color: white;
}

/*-----------------IPAD--------------*/

@media screen and (min-width: 768px) {
  h1 {
    padding: 64px 48px;
    width: 66vw;
  }

  span.again {
    bottom: 64px;
    left: 48px;
  }
}

/*--------------IPAD PRO / DESKTOP SML--*/

@media screen and (min-width: 1024px) {
  h1 {
    font-size: 52px;
    line-height: 64px;
    letter-spacing: .25;
  }

  span.again {
    font-size: 32px;
  }
}

/*-------------DESKTOP LRG--------------*/

@media screen and (min-width: 1440px) {
  h1 {
    padding: 78px 64px;
    line-height: 78px;
  }

  span.again {
    bottom: 78px;
    left: 64px;
  }
}

